@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
/* All elements */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
    font-family: 'Poppins', sans-serif;

}
a{
    text-decoration: none;
    color: black;
    padding: 30px;
}
.container{
    background-color: white;
    width: 50%;
    height: 300px;
    margin: 10px auto;
    padding:30px 40px;
    border-radius: 30px;


}
.container button{
    background-color: purple;
    border-radius: 30px;
    color: aliceblue;
    padding: 20px;
}
.fa-hamburger{
    color: chocolate;
}
/* .container a{
    text-decoration: none;
    color: black;
} */

